

body {
	background-color: black;
	margin: 20px;
	padding-left: 70px;

}

#container {
	width: 90%;
	margin: 20px auto;
	center: 100%;

}


.leftside#upper {
	box-sizing: border-box;
	display: block;
	float: left;
	font-family: Lato, Arial, sans-serif;
	background-color: #FF9933;
	position: absolute; 
	margin: 0px;
	padding: 10px;
	width: 250px;
	height: 250px;
	text-align: center;
	color: white;

}

p.logo {
	font-family: cardo, sans-serif;
	color: #666666;
	text-align: center;
	font-size: 45px;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
	border: solid 8px #ccc; 
	margin: 60px auto 0px auto;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

p.logo span {
	font-family: Cardo, sans-serif;
	color: white;
	font-size: 70px;
}


.center {
	box-sizing: border-box;
	position: relative;
	background-color:#1F1F1F;
	display: block;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 2em;
	font-weight: lighter;
	width: 520px;
	height: 520px;
	left: 270px;
	line-height: 45px;
	margin: 0;
	padding-top: 30px;
	text-align: center;

}

.center h3 {
	font-family: Lato, Arial, sans-serif;
	text-align: center;
	color: #666666;
}

p {
	font-family: Lato, Arial, sans-serif;
	text-align: center;
	color: #666666;
	padding-top: -20px;
}

span {
	color: #FF9933;
}

.rightside#upper {
	box-sizing: border-box;
	display: block;
	position: relative;
	float: left;
	margin: 0px;
	padding: 0 0 0 290px;
	width: 250px;
	height: 250px;
	
}

.leftside#lower {
	box-sizing: border-box;
	display: block;
	position: absolute;
	float: left;
	width: 250px;
	height: 250px;
	padding: 270px 0 0 0;

}

.rightside#lower {
	box-sizing: border-box;
	display: block;
	position: relative;
	float: left;
	margin: 0px;
	padding: 15px 0 0 290px;
}

#left img {
	box-sizing: box-sizing;
	display: block;
	position: absolute;
	float: left;
	padding: 540px 0 0 0;
	margin: 0;
	width: 250px;
	height: 250px;
	-webkit-transition: opacity 1s ease-in-out;
	  -moz-transition: opacity 1s ease-in-out;
	  -o-transition: opacity 1s ease-in-out;
	  transition: opacity 1s ease-in-out;
}

#left img.top:hover {
	opacity: 0;
}


#right img {
	box-sizing: box-sizing;
	display: block;
	position: relative;
	float: left;
	left: 270px;
	margin: 0;
	padding: 18px 0 0 0;
}

#momLeft img {
	box-sizing: box-sizing;
	display: block;
	position: absolute;
	float: left;
	padding: 810px 0 0 0;
	margin: 0;
	width: 250px;
	height: 250px;

}

#momRight img {
	box-sizing: box-sizing;
	display: block;
	position: relative;
	float: left;
	left: 0px;
	margin: 0;
	padding: 288px 0 0 18px;
}

 section { 
	box-sizing: border-box;
	background-color:#1F1F1F;
	display: block;
	float: left;
	position: relative;
	margin: 18px 0 0 22px;
	padding: 90px;
	width: 520px;
	height: 520px;
}



section p {
	display: block;
	box-sizing: border-box;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 15px;
	font-weight: lighter;
	left: 10px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	padding: 0px 30px;


}

#description a {
	text-decoration: none;
}

/*section#donut-example {
	box-sizing: border-box;
	display: block;
	position: relative;
	float: left;
	margin: 100px auto;

}*/
.graph#donut-example {
	margin: 0 auto;
	padding: 0px;
	box-sizing: border-box;
	background-color: #1f1f1f;
	border-radius: solid 2px #FF0033;
	box-shadow: #999999;
}



div.outerClass{
    position: absolute;

    left: 40px;
    top: 65px;
    height: 120px;
    overflow:hidden;
}

div.innerClass{
    width:150px;
    height:150px;
    border: 10px solid #FF9933;
    border-radius: 360px;
}

div.html {
	margin: -25px 0 0 -50px;
	width: 150px;
	height: 150px;
	background: #1F1F1F;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 10px #999999;
}

div.html h3 {
	font-family: Lato, Arial, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	padding: 30px 25px;
	color: #999999;
}

div.html p {
	font-family: Lato, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: -40px auto 0 auto;
	padding-left: 55px;
	color: #999999;

}

div.outerClass2{
    position: relative;

    left: -50px;
    top: 45px;
    height: 65px;
    overflow:hidden;
}

div.innerClass2{
    width:150px;
    height:150px;
    border: 10px solid #99CC33;
    border-radius: 360px;
}

div.ruby {
	margin: -20px 0 0 -50px;
	width: 150px;
	height: 150px;
	background: #1F1F1F;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 10px #999999;
}

div.ruby h3 {
	font-family: Lato, Arial, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	padding: 30px 25px;
	color: #999999;
}

div.ruby p {
	font-family: Lato, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: -40px auto 0 auto;
	padding-left: 55px;
	color: #999999;

}

div.outerClass3{
    position: relative;

    left: 220px;
    top: -385px;
    height: 45px;
    overflow:hidden;
}

div.innerClass3{
    width:150px;
    height:150px;
    border: 10px solid #FF6633;
    border-radius: 360px;
}

div.javascript {
	margin: -430px 0 0 220px;
	width: 150px;
	height: 150px;
	background: #1F1F1F;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 10px #999999;
}

div.javascript h3 {
	font-family: Lato, Arial, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	padding: 30px 25px;
	color: #999999;
}

div.javascript p {
	font-family: Lato, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: -250px auto 0 auto;
	padding-left: 55px;
	color: #999999;

}

div.outerClass4{
    position: relative;

    left: 220px;
    top: 45px;
    height: 75px;
    overflow:hidden;
}

div.innerClass4{
    width:150px;
    height:150px;
    border: 10px solid #FF6600;
    border-radius: 360px;
}

div.total {
	margin: -30px 0 0 220px;
	width: 150px;
	height: 150px;
	background: #1F1F1F;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 10px #999999;
}

div.total h3 {
	font-family: Lato, Arial, sans-serif;
	font-size: 18px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	padding: 30px 25px;
	color: #999999;
}

div.total p {
	font-family: Lato, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: -40px auto 0 -8px;
	padding-left: 55px;
	color: #999999;

}



.blog p { /* The Post */
	display: block;
	box-sizing: border-box;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 25px;
	font-weight: lighter;
	position: absolute;
	margin: 1080px 0 0 0px;
	background-color: #1F1F1F;
	text-align: center;
	width: 250px;
	height: 520px;
	color: #666666;
	padding: 35px; 

}

#date1 { /* The Date */
	box-sizing: border-box;
	display: block;
	float:left;
	position: relative;
	background-color: #1F1F1F;
	width: 250px;
	height: 250px;
	color: #666666; 
	font-family: Lato, Arial, sans-serif;
	font-size: 50px;
	font-weight: lighter;
	line-height: 0px;
	margin: 19px 0 0 267px;	
}


li {
	box-sizing: border-box;
	background-color: #666666;
	width: 125px;
	height: 125px;
	float: left;
	margin-right: 120px;
	margin-top: 0px;
	-moz-box-shadow:inset 0px 0px 22px -3px #666666;
	-webkit-box-shadow:inset 0px 0px 22px -3px #666666;
	box-shadow:inset 0px 0px 22px -3px #666666;
	border:1px solid #666666;
	display:inline-block;
	color:#666666;
	font-size:20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #666666;
	text-align: center;
}
li:hover {
	background-color:#666666;
	color: #FF9933; 
}
li:active {
	position:relative;
	top:1px;
}

#date1 a {
	margin: 0;
	line-height: 115px;
	text-decoration: none;
	color: #FF9933;
}

#date1 a:hover {
	color: #FF6600;
}

li#twitter {
	border-right: 2px solid #1F1F1F;
	border-bottom: 2px solid #1F1F1F;
}

li#github {
	border-right: 2px solid #1F1F1F;
	border-top: 2px solid #1F1F1F;	
}

li#codeschool {
	float: right;
	margin-right: 0;
	margin-left: -300px;
	margin-top: -125px;
	border-left: 2px solid #1F1F1F;
	border-bottom: 2px solid #1F1F1F;
}

li#pintrest {
	float: right;
	margin-right: 0;
	margin-left: -300px;
	margin-top: 0px;
	border-top: 2px solid #1F1F1F;
	border-left: 2px solid #1F1F1F;
}


.blog span {
	color: #FF9933;
}

.blog img {
	display: block;
	box-sizing: border-box;
	float: left;
	position: relative;
	margin: 289px 0 0 -250px;
	background-color: #1F1F1F;
	width: 250px;
	height: 250px;
	padding: 0;
}

section.blog2 {
	box-sizing: border-box;
	text-align: center;
	font-family: Lato, Arial, sans-serif;
	padding: 0px;
	letter-spacing: 2px;
}

section.blog2 p {
	font-size: 20px;
	padding-bottom: 0px;
	padding-top: 40px;
}


section blockquote p {
	box-sizing: border-box;
	text-align: center;
	font-family: Lato, Arial, sans-serif;
	font-size: 20px;
	margin-top: 36px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-left: 15px;
	border-top: 2px solid #666666;
}


footer {
	box-sizing:border-box;
	display: block;
	float: left;
	width: 1060px;
	margin: 20px 0 20px 0;
	left: 0px;
}


footer {
	display: block;
	box-sizing: border-box;
	float:left;
	width: 1060px;
	height: 230px;
	padding: 0px;
	background-color: #1F1F1F;
}

footer img {
	padding: 27px;
}


footer img:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	o-transform: scale(1.2);
	transform: scale(1.2);
}

footer p {
	display: block;
	box-sizing: border-box;
	float: right;
	position: relative;
	font-family: Lato, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
	line-height: 40px;
	margin: -165px 0px 0px 100px;
	padding: 0px 80px 0 160px;
}

footer p a {
	text-decoration: none;
	color: #FF9933;
}

footer a:hover {
	color: #FF6600;

}


/* ///////////  Media Query 480px ////////// */
/* ////////////////////////////////////////  */

@media all and (max-width: 480px) {


#container {
	width: 90%;
	margin: 4.166667% auto;
	center: 100%;

}

.center {
	box-sizing: border-box;
	position: relative;
	background-color:#1F1F1F;
	display: block;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 1em;
	font-weight: 100;
	width: 100%;
	height: 400px;
	
	/*left: 270px;*/
	line-height: 4px;
	margin: 0;
	padding-top: 30px;
	text-align: center;

}

.center h3 {
	font-family: Lato, Arial, sans-serif;
	text-align: center;
	color: #666666;
}

.center p {
	font-size: 1em;	
	font-family: Lato, Arial, sans-serif;
	text-align: center;
	color: #666666;
/*	padding-top: -20px;*/
}

span {
	color: #FF9933;
}


.leftside#upper {
	box-sizing: border-box;
	display: block;
	float: left;
	font-family: Lato, Arial, sans-serif;
	background-color: #FF9933;
	position: absolute; 
	margin-left: -9999px;
	padding: 10px;
	width: 100px;
	height: 100px;
	text-align: center;
	color: white;

}

p.logo {
	font-family: cardo, sans-serif;
	color: #666666;
	text-align: center;
	font-size: 45px;
	width: 30px;
	height: 30px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 8px #ccc; 
	margin-left: -9999px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

p.logo span {
	font-family: Cardo, sans-serif;
	color: white;
	font-size: 70px;
}



.rightside#upper {
	box-sizing: border-box;
	display: block;
	position: relative;
	float: left;
	margin: 0px;
	padding: 0 0 0 290px;
	
}

.leftside#lower {
	box-sizing: border-box;
	display: block;
	position: absolute;
	float: left;
	width: 250px;
	height: 250px;
	padding: 270px 0 0 0;

}

.rightside#lower {
	box-sizing: border-box;
	display: block;
	position: relative;
	float: left;
	margin: 0px;
	padding: 15px 0 0 290px;
}

#left img {
	box-sizing: box-sizing;
	display: block;
	position: absolute;
	float: left;
	padding: 540px 0 0 0;
	margin: 0;
	width: 250px;
	height: 250px;
	-webkit-transition: opacity 1s ease-in-out;
	  -moz-transition: opacity 1s ease-in-out;
	  -o-transition: opacity 1s ease-in-out;
	  transition: opacity 1s ease-in-out;
}

#left img.top:hover {
	opacity: 0;
}


#right img {
	box-sizing: box-sizing;
	display: block;
	position: relative;
	float: left;
	left: 270px;
	margin: 0;
	padding: 18px 0 0 0;
}

#momLeft img {
	box-sizing: box-sizing;
	display: block;
	position: absolute;
	float: left;
	padding: 810px 0 0 0;
	margin: 0;
	width: 250px;
	height: 250px;

}

#momRight img {
	box-sizing: box-sizing;
	display: block;
	position: relative;
	float: left;
	left: 0px;
	margin: 0;
	padding: 288px 0 0 18px;
}

 section { 
	box-sizing: border-box;
	background-color:#1F1F1F;
	display: block;
	float: left;
	position: relative;
	margin: 18px 0 0 22px;
	padding: 90px;
	width: 520px;
	height: 520px;
}



section p {
	display: block;
	box-sizing: border-box;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 15px;
	font-weight: lighter;
	left: 10px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	padding: 0px 30px;


}

#description a {
	text-decoration: none;
}

/*section#donut-example {
	box-sizing: border-box;
	display: block;
	position: relative;
	float: left;
	margin: 100px auto;

}*/
.graph#donut-example {
	margin: 0 auto;
	padding: 0px;
	box-sizing: border-box;
	background-color: #1f1f1f;
	border-radius: solid 2px #FF0033;
	box-shadow: #999999;
}



div.outerClass{
    position: absolute;

    left: 40px;
    top: 65px;
    height: 120px;
    overflow:hidden;
}

div.innerClass{
    width:150px;
    height:150px;
    border: 10px solid #FF9933;
    border-radius: 360px;
}

div.html {
	margin: -25px 0 0 -50px;
	width: 150px;
	height: 150px;
	background: #1F1F1F;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 10px #999999;
}

div.html h3 {
	font-family: Lato, Arial, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	padding: 30px 25px;
	color: #999999;
}

div.html p {
	font-family: Lato, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: -40px auto 0 auto;
	padding-left: 55px;
	color: #999999;

}

div.outerClass2{
    position: relative;

    left: -50px;
    top: 45px;
    height: 65px;
    overflow:hidden;
}

div.innerClass2{
    width:150px;
    height:150px;
    border: 10px solid #99CC33;
    border-radius: 360px;
}

div.ruby {
	margin: -20px 0 0 -50px;
	width: 150px;
	height: 150px;
	background: #1F1F1F;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 10px #999999;
}

div.ruby h3 {
	font-family: Lato, Arial, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	padding: 30px 25px;
	color: #999999;
}

div.ruby p {
	font-family: Lato, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: -40px auto 0 auto;
	padding-left: 55px;
	color: #999999;

}

div.outerClass3{
    position: relative;

    left: 220px;
    top: -385px;
    height: 45px;
    overflow:hidden;
}

div.innerClass3{
    width:150px;
    height:150px;
    border: 10px solid #FF6633;
    border-radius: 360px;
}

div.javascript {
	margin: -430px 0 0 220px;
	width: 150px;
	height: 150px;
	background: #1F1F1F;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 10px #999999;
}

div.javascript h3 {
	font-family: Lato, Arial, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	padding: 30px 25px;
	color: #999999;
}

div.javascript p {
	font-family: Lato, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: -250px auto 0 auto;
	padding-left: 55px;
	color: #999999;

}

div.outerClass4{
    position: relative;

    left: 220px;
    top: 45px;
    height: 75px;
    overflow:hidden;
}

div.innerClass4{
    width:150px;
    height:150px;
    border: 10px solid #FF6600;
    border-radius: 360px;
}

div.total {
	margin: -30px 0 0 220px;
	width: 150px;
	height: 150px;
	background: #1F1F1F;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 10px #999999;
}

div.total h3 {
	font-family: Lato, Arial, sans-serif;
	font-size: 18px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	padding: 30px 25px;
	color: #999999;
}

div.total p {
	font-family: Lato, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	left: 0px;
	text-align: center;
	line-height: 50px;
	margin: -40px auto 0 -8px;
	padding-left: 55px;
	color: #999999;

}



.blog p { /* The Post */
	display: block;
	box-sizing: border-box;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 25px;
	font-weight: lighter;
	position: absolute;
	margin: 1080px 0 0 0px;
	background-color: #1F1F1F;
	text-align: center;
	width: 250px;
	height: 520px;
	color: #666666;
	padding: 35px; 

}

#date1 { /* The Date */
	box-sizing: border-box;
	display: block;
	float:left;
	position: relative;
	background-color: #1F1F1F;
	width: 250px;
	height: 250px;
	color: #666666; 
	font-family: Lato, Arial, sans-serif;
	font-size: 50px;
	font-weight: lighter;
	line-height: 0px;
	margin: 19px 0 0 267px;	
}


li {
	box-sizing: border-box;
	background-color: #666666;
	width: 125px;
	height: 125px;
	float: left;
	margin-right: 120px;
	margin-top: 0px;
	-moz-box-shadow:inset 0px 0px 22px -3px #666666;
	-webkit-box-shadow:inset 0px 0px 22px -3px #666666;
	box-shadow:inset 0px 0px 22px -3px #666666;
	border:1px solid #666666;
	display:inline-block;
	color:#666666;
	font-size:20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #666666;
	text-align: center;
}
li:hover {
	background-color:#666666;
	color: #FF9933; 
}
li:active {
	position:relative;
	top:1px;
}

#date1 a {
	margin: 0;
	line-height: 115px;
	text-decoration: none;
	color: #FF9933;
}

#date1 a:hover {
	color: #FF6600;
}

li#twitter {
	border-right: 2px solid #1F1F1F;
	border-bottom: 2px solid #1F1F1F;
}

li#github {
	border-right: 2px solid #1F1F1F;
	border-top: 2px solid #1F1F1F;	
}

li#codeschool {
	float: right;
	margin-right: 0;
	margin-left: -300px;
	margin-top: -125px;
	border-left: 2px solid #1F1F1F;
	border-bottom: 2px solid #1F1F1F;
}

li#pintrest {
	float: right;
	margin-right: 0;
	margin-left: -300px;
	margin-top: 0px;
	border-top: 2px solid #1F1F1F;
	border-left: 2px solid #1F1F1F;
}


.blog span {
	color: #FF9933;
}

.blog img {
	display: block;
	box-sizing: border-box;
	float: left;
	position: relative;
	margin: 289px 0 0 -250px;
	background-color: #1F1F1F;
	width: 250px;
	height: 250px;
	padding: 0;
}

section.blog2 {
	box-sizing: border-box;
	text-align: center;
	font-family: Lato, Arial, sans-serif;
	padding: 0px;
	letter-spacing: 2px;
}

section.blog2 p {
	font-size: 20px;
	padding-bottom: 0px;
	padding-top: 40px;
}


section blockquote p {
	box-sizing: border-box;
	text-align: center;
	font-family: Lato, Arial, sans-serif;
	font-size: 20px;
	margin-top: 36px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-left: 15px;
	border-top: 2px solid #666666;
}


footer {
	box-sizing:border-box;
	display: block;
	float: left;
	width: 1060px;
	margin: 20px 0 20px 0;
	left: 0px;
}


footer {
	display: block;
	box-sizing: border-box;
	float:left;
	width: 1060px;
	height: 230px;
	padding: 0px;
	background-color: #1F1F1F;
}

footer img {
	padding: 27px;
}


footer img:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	o-transform: scale(1.2);
	transform: scale(1.2);
}

footer p {
	display: block;
	box-sizing: border-box;
	float: right;
	position: relative;
	font-family: Lato, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
	line-height: 40px;
	margin: -165px 0px 0px 100px;
	padding: 0px 80px 0 160px;
}

footer p a {
	text-decoration: none;
	color: #FF9933;
}

footer a:hover {
	color: #FF6600;

}

}

/* ///////// Media Queries 1040px ///////// */

@media all and (max-width: 1040px) {

.leftside#upper {
	box-sizing: border-box;
	display: block;
	float: left;
	font-family: Lato, Arial, sans-serif;
	background-color: #FF9933;
	position: absolute; 
	margin: 0px;
	padding: 10px;
	width: 200px;
	height: 200px;
	text-align: center;
	color: white;

}

p.logo {
	font-family: cardo, sans-serif;
	color: #666666;
	text-align: center;
	font-size: 45px;
	width: 80px;
	height: 80px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 50%;
	border: solid 3px #ccc; 
	margin: 60px auto 0px auto;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

p.logo span {
	font-family: Cardo, sans-serif;
	color: white;
	font-size: 70px;
}



.center p {
	box-sizing: border-box;
	position: relative;
	background-color:#1F1F1F;
	display: block;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 38px;
	font-weight: lighter;
	width: 380px;
	height: 380px;
	left: 270px;
	line-height: 50px;
	margin: 0;
	padding-top: 30px;
	text-align: center;

}

p {
	font-family: Lato, Arial, sans-serif;
	text-align: center;
	color: #666666;
}

p span {
	color: #FF9933;
}

.rightside#upper {
	box-sizing: border-box;
	display: block;
	position: relative;
	float: left;
	margin: 0px;
	padding: 0 0 0 290px;
	width: 200px;
	height: 200px;
}
}

