/* My goal is to design mobile first */

/* starting width is 480px */

body {
	background-color: black;
	font-family: Lato, Arial;
	font-size: 16px;
	margin: 0 4% 0 4%;
	transitions: 1s;
}



div#logo span {
	color: #FF9933;
	
	font-family: Lato, Arial, sans-serif;
	font-size: 1.5em;
	width: 2%;
	margin: 0;
	line-height: 2;
	font-weight: 300;
	float: left;

}

.navbar {
	background-color: black;
	margin: 0;
	margin-bottom: .33em;
	padding-bottom: 0;
	width: 75%;
	line-height: 1.5;
	overflow: hidden;
	font-family: Lato, Arial;
	font-weight: 200;
	letter-spacing: .33em;
	font-size: 1.5em;
}

.navbar li, .navbar a {
	display: inline-block;
}




.navbar li {
	list-style-type: none;
}

.navbar > li {
	margin-left: .1em;
}

.navbar > li:first-child {
	margin-left: 1%;
}

.navbar a {
	padding: .25em;
	text-decoration: none;
	height: .5em;
	
}

.navbar a:hover {
	
	
} /* end of navbar */

div.nav-image {

	width: 99%;
	float: left;
	margin: 1%  -6% 2% -6%;
	

}  

img {
	max-width: 100%;
}

article { /*beginning of main body*/
	background-color: #1f1f1f;
	padding: 2%;
	width: 95%;
	margin: 0 auto 2.5% auto;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 2em;
	font-weight: 100;
	color: #666666;
	text-align: left;
}


article span {
	color: #FF9933;
	font-size: 100;
}


div.image-section1 {
	/*background-color: #333333;*/
	padding: 0;
	width: 99%;
	margin-bottom: 2.5%;
	float: left;

}


 img#image-1 {
	float: left;
	max-width: 48.25%;	
	
}

img#image-2 {
	float: right;
	max-width: 48.25%;
	
}

div.image-section2 {
	/*background-color: #333333;*/
	padding: 0;
	margin-bottom: 2.5%;
	width: 99%;
	min-height: 0;
	float: left;

}

img#image-3 {
	float: left;
	max-width: 48.25%;	
	
}

img#image-4 {
	float: right;
	max-width: 48.25%;
	
}


img {
	max-width: 100%;
}

div.blog {
	width: 99%;
	float: left;
}

div.blog p {
	background-color: #1f1f1f;
	padding: 4%;
	width: 92%;
	margin: 0 auto 2.5% auto;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 1.25em;
	font-weight: 300;
	color: #666666;
	text-align: left;
}

img#image-5 {
	float: left;
	max-width: 48.25%;	
	margin-bottom: 2.5%;
}

img#image-6 {
	float: right;
	max-width: 48.25%;
	margin-bottom: 2%;
}



img {
	width: 100%;
}

/* Countdown Start */


div.container2 {
	width: 100%;



}

p.month {
	width: 96%;
	height: 1em;
	margin-top: 0%;
	margin-bottom: -1%;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 2em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 2%;
	overflow: hidden;
}


.countdown_section{ 
	background:#1f1f1f;
	width:25%;
	margin: 0;
	height: 3em;
	float: left; 
	text-align:center;
	padding-top: 6%; 

}
.countdown_amount{
	margin-left: 0em;
	color:#FF9933;
	font-size: 2em;
	font-weight:lighter;
	line-height:0px;
	text-align: left;
	height: 4em;
	
}
.countdown_day{
	text-align:center;
	margin-left:0; 
	font-size: 1em;
	line-height: 0px;
	color:#666666;
	text-transform:uppercase;
	padding-top: 0;
}
/* Countdown Stop*/

div#entry3 {
	
	background-color: #1f1f1f;
	
	width: 100%;
	margin: 2.5% auto 2.5% auto;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 2em;
	font-weight: 200;
	color: #666666;
	text-align: left;

}

div#entry3 span {
	color: #FF9933;
}

div.button-icon  { /* Start  Social Links */ 
	width: 100%;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 300;
	overflow: hidden;
	list-style-type: none;
	color: #FF9933;

}



#twitter a {
	width: 49%;
	height: 1.5em;
	padding-top: 1%;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#twitter:hover a {
	background-color: #F1C40F;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

/*#twitter:active a{
	top: .1em;
}*/

#github a {
	width: 49%;
	height: 1.5em;
	padding-top: 1%;
	float: right;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#github:hover a {
	background-color: #E67E22;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}


#codeschool a {
	width: 49%;
	height: 1.5em;
	margin-top: 2%;
	padding-top: 1%;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#codeschool:hover a {
	background-color: #F39C12;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

#linkedin a {
	width: 49%;
	height: 1.5em;
	margin-top: 2%;
	padding-top: 1%;
	float: right;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#linkedin:hover a {
	background-color: #D35400;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
} /* End Links */

div.work {
	width: 100%;
	margin-top: 2%;
	/*height: 20em;*/
	
}

div.kate-images {
	height: 10.5em;
	overflow: hidden;
}


img#katesnow {
	width: 49%;
	margin-right: 2%;
	float: left;
	/*height: 10.5em;
	overflow: hidden;*/
}

/*img#cosbymd{
	width: 49%;
	height: 12em;
	/*margin-right: 2%;*/
/*	float: right;
}*/

img#katesnow2{
	width: 23.5%;
	margin-right: 2%;
	float: left;
}

img#cosbysm{
	width: 23.5%;
	float: left;
	/*height: 10.5em;*/
	margin-right: 0;
}


div.kate-info {
	width: 92%;
	margin-top: 2%;
	float: right;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 2em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: left;
	padding: 0 4%;
	/*overflow: hidden;*/
}

footer {
	width: 100%;

}

div.head-shot {
	width: 100%;
	margin-top: 2.5%;
	float: left;
	background-color: #1F1F1F;
	padding-top: 2%;
	padding-bottom: 1.5%;
}

div.head-shot img {
	width: 30%;
	margin-top: 10%;
	margin-left: 35%;
}

div.head-shot p {
	width: 80%;
	margin-top: 10%;
	margin-right: 5%;
	text-decoration: none;
	font-size: 1.75em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	color: #666666;
	float: right;

}

div.head-shot a {
	text-decoration: none;
	color: #FF9933;

}

div.head-shot span:hover {
	color: #D35400;
}


/* /////////// Media Query 600px ///////////*/
/* ///////////////////////////////////////*/

@media only screen and (min-width: 600px) {
	
	/*aside, article {
		width: 100%;
		float: left;
	}*/
	
	div.nav-image {
		width: 100%;
		float: left;
	}

	article {
		width: 100%;
		margin-right: 0;
		margin-bottom: 1em;
		margin-top: 1%;
		padding: 0;
	
		font-size: 2.0938em;
	}
	h3 {
		text-align: center;
		padding-top: 0;
		font-size: 1em;
	}

	article p {
		padding: 0 1em;
	}

	div.image-section1 {
	/*background-color: #333333;*/
	width: 100%;
	padding: 0; 
	margin-top: 0;
	float: left;

}


 img#image-1 {
	float: right;
	max-width: 48.25%;	
	margin-top: -2%;
}

img#image-2 {
	float: left;
	max-width: 48.25%;
	margin-top: -2%;
}



div.image-section2 {
	/*background-color: #333333;*/
	width: 100%;
	padding: 0; 
	margin-top: 0;
	float: left;

}


 img#image-3 {
	float: right;
	max-width: 48.25%;	
	margin-top: 0;
}

img#image-4 {
	float: left;
	max-width: 48.25%;
	margin-top: 0;
}

div.blog {
	width: 100%;
	float: left;
}

div.blog p {
	background-color: #1f1f1f;
	padding: 4%;
	width: 92%;
	margin: 0 auto 2.5% auto;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 1.25em;
	font-weight: 300;
	color: #666666;
	text-align: left;
}

/* Countdown Start */


div.container2 {
	width: 100%;



}

p.month {
	width: 96%;
	height: 1em;
	margin-top: 0%;
	margin-bottom: -1%;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 1.5em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 2%;
	overflow: hidden;
}


.countdown_section{ 
	background:#1f1f1f;
	width:25%;
	margin: 0;
	height: 3em;
	float: left; 
	text-align:center;
	padding-top: 6%; 

}
.countdown_amount{
	margin-left: 0em;
	color:#FF9933;
	font-size: 2.5em;
	font-weight:lighter;
	line-height:0px;
	text-align: left;
	height: 4em;
	
}
.countdown_day{
	text-align:center;
	margin-left:0; 
	font-size: 1em;
	line-height: 0px;
	color:#666666;
	text-transform:uppercase;
	padding-top: 0;
}
/* Countdown Stop*/

div.work {
	width: 100%;
	margin-top: 2%;

	overflow: hidden;
}

div.kate-images {
	height: 16em;
	overflow: hidden;
}

img#katesnow {
	width: 49%;
	margin-right: 2%;
	float: left;
	/*height: 16em;*/
	overflow: hidden;
	/*height: 5em;*/
}


img#katesnow2{
	width: 23.5%;
	margin-right: 2%;
	float: left;
}

img#cosbysm{
	width: 23.5%;
	float: left;
	/*height: 16em;*/
	margin-right: 0;
}


div.kate-info {
	width: 92%;
	margin-top: 2%;
	float: right;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 1.4em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: left;
	padding: 0 4%;
	overflow: hidden;
}

footer {
	width: 100%;

}

div.head-shot {
	width: 100%;
	margin-top: 2.5%;
	float: left;
	background-color: #1F1F1F;
	padding-top: 2%;
	padding-bottom: 1.5%;
}

div.head-shot img {
	width: 24%;
	margin-top: 0;
	margin-left: 6%;
}

div.head-shot p {
	width: 60%;
	margin-top: 0;
	margin-right: 0;
	text-decoration: none;
	font-size: 1.5em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	color: #666666;
	float: right;

}

div.head-shot a {
	text-decoration: none;
	color: #FF9933;

}

div.head-shot span:hover {
	color: #D35400;
}

}

/*///////////// Media Query 800px //////////////*/
/* /////////////////////////////////////////// */

@media only screen and (min-width: 800px){
	/*aside, article {
		width: 100%;
		float: left;
	}*/
	


	div.nav-image {
		width: 100%;
		float: left;
		padding: 0%;
		
	}

	article {
		width: 100%;
		float: left;
		margin-right: 0;
		margin-bottom: 1em;
		margin-top: .75%;
		padding: 0;
	}
	h3 {
		text-align: center;
		padding-top: 0;
	}

	article p {
		padding: 0 1em;
	}

	div.image-section1 {
	/*background-color: #333333;*/
	padding: 0;
	width: %;
	margin-bottom: 2%;
	float: left;

}


 img#image-1 {
	float: left;
	max-width: 48.50%;	
	
}

img#image-2 {
	float: right;
	max-width: 48.50%;
	
}


div.image-section2 {
	/*background-color: #333333;*/
	width: 100%;
	padding: 0; 
	margin-top: 0;
	float: left;

}


 img#image-3 {
	float: right;
	max-width: 48.50%;	
	margin-top: 0;
}

img#image-4 {
	float: left;
	max-width: 48.50%;
	margin-top: 0;
}

div.blog {
	width: 100%;
	float: left;
}

div.blog p {
	background-color: #1f1f1f;
	padding: 4%;
	width: 92%;
	margin: 0 auto 2.5% auto;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	color: #666666;
	text-align: left;
}

img#image-5 {
	float: left;
	max-width: 48.50%;	
	margin-bottom: 2%;
}

img#image-6 {
	float: right;
	max-width: 48.50%;
	margin-bottom: 2%;
}



img {
	width: 100%;
}


/* Countdown Start */


div.container2 {
	width: 100%;



}

p.month {
	width: 96%;
	height: 1em;
	margin-top: 0%;
	margin-bottom: -1%;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 1.5em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 2%;
	overflow: hidden;
}


.countdown_section{ 
	background:#1f1f1f;
	width:25%;
	margin: 0;
	height: 3em;
	float: left; 
	text-align:center;
	padding-top: 6%; 

}
.countdown_amount{
	margin-left: 0em;
	color:#FF9933;
	font-size: 2.5em;
	font-weight:lighter;
	line-height:0px;
	text-align: left;
	height: 4em;
	
}
.countdown_day{
	text-align:center;
	margin-left:0; 
	font-size: 1em;
	line-height: 0px;
	color:#666666;
	text-transform:uppercase;
	padding-top: 0;
}
/* Countdown Stop*/

div#entry3 {
	
	background-color: #1f1f1f;
	
	width: 100%;
	margin: 2% auto 2% auto;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 2em;
	font-weight: 200;
	color: #666666;
	text-align: left;

}

div#entry3 span {
	color: #FF9933;
}

div.button-icon  { /* Start  Social Links */ 
	width: 100%;
	text-decoration: none;
	font-size: 1.25em;
	font-weight: 300;
	overflow: hidden;
	list-style-type: none;
	color: #FF9933;

}



#twitter a {
	width: 24.25%;
	height: 1.5em;
	margin-right: 1%;
	padding-top: 1%;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#twitter:hover a {
	background-color: #F1C40F;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

/*#twitter:active a{
	top: .1em;
}*/

#github a {
	width: 24.25%;
	height: 1.5em;
	margin-right: 1%;
	padding-top: 1%;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#github:hover a {
	background-color: #E67E22;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}


#codeschool a {
	width: 24.25%;
	height: 1.5em;
	margin-top: 0%;
	margin-right: 1%;
	padding-top: 1%;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#codeschool:hover a {
	background-color: #F39C12;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

#linkedin a {
	width: 24.25%;
	height: 1.5em;
	margin-top: 0%;
	padding-top: 1%;
	float: right;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#linkedin:hover a {
	background-color: #D35400;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
} /* End Links */

div.work {
	width: 100%;
	margin-top: 2%;
}

img#katesnow {
	width: 49%;
	margin-right: 2%;
	float: left;
	overflow: hidden;
}

div.kate-images {
	height: 21.5em;
	overflow: hidden;
}

img#katesnow2{
	width: 23.5%;
	margin-right: 2%;
	float: left;
}

img#cosbysm{
	width: 23.5%;
	float: left;
/*	height: 21.2em;
*/	margin-right: 0;
}


div.kate-info {
	width: 92%;
	margin-top: 2%;
	float: right;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 1.7em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: left;
	padding: 0 4%;
	overflow: hidden;
}

footer {
	width: 100%;

}

div.head-shot {
	width: 100%;
	margin-top: 2%;
	float: left;
	background-color: #1F1F1F;
	padding-top: 2%;
	padding-bottom: 1.5%;
}

div.head-shot img {
	width: 20%;
	margin-left: 6%;
}

div.head-shot p {
	margin-top: 8%;
	margin-right: 3.5%;
	text-decoration: none;
	font-size: 1.5em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	color: #666666;
	float: right;

}

div.head-shot a {
	text-decoration: none;
	color: #FF9933;

}

div.head-shot span:hover {
	color: #D35400;
}
	
}

/*///////////// Media Query 1000px //////////////*/
/* /////////////////////////////////////////// */

@media only screen and (min-width: 1000px){
	/*aside, article {
		width: 100%;
		float: left;
	}*/
	


	div.nav-image {
		width: 100%;
		float: left;
		padding: 0%;
		
	}

	article {
		width: 100%;
		float: left;
		margin-left: ;
		margin-bottom: 2%;
		margin-top: 0;
		padding: 0;
		font-size: 2em;
	}
	h3 {
		text-align: center;
		padding-top: 0;
	}

	article p {
		padding: 0 1em;
	}

	div.image-section1 {
	/*background-color: #333333;*/
	padding: 0;
	width: 49%;
/*	height: 33em;
*/	margin-top: 1%;
	/*margin-left: -75%;*/
	margin-bottom: 2%;
	float: left;

}


 img#image-1 {
	float: left;
	max-width: 48.5%;
	height: ;
	overflow: hidden;
	margin-bottom: 1%;
	
}

img#image-2 {
	float: right;
	max-width: 48.5%;
	/*height: ;*/
	overflow: hidden;

}


div.image-section2 {
	/*background-color: #333333;*/
	width: 49%;
	padding: 0; 
	margin-top: 0;
	float: right;

}


 img#image-3 {
	float: left;
	max-width: 48.5%;	
	margin-top: 0;
}

img#image-4 {
	float: right;
	max-width: 48.5%;
}

div.blog {
	width: 100%;
	float: left;
}

div.blog p {
	background-color: #1f1f1f;
	padding: 4%;
	width: 92%;
	margin: -.5% auto 2% auto;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	color: #666666;
	text-align: left;
}

div.blog-images {
	width: 49%;
}

img#image-5 {
	float: left;
	max-width: 48.50%;	
	margin-bottom: 4%;
}

img#image-6 {
	float: right;
	max-width: 48.50%;
	margin-bottom: 4%;
}



img {
	width: 100%;
}


/* Countdown Start */


div.container2 {
	width: 49%;
}

p.month {
	width: 96%;
	height: 1em;
	margin-top: 0%;
	margin-bottom: -1%;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 1.5em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 2%;
	overflow: hidden;
}


.countdown_section{ 
	background:#1f1f1f;
	width:25%;
	margin: 0;
	height: 3em;
	float: left; 
	text-align:center;
	padding-top: 6%; 

}
.countdown_amount{
	margin-left: 0em;
	color:#FF9933;
	font-size: 2.5em;
	font-weight:lighter;
	line-height:0px;
	text-align: left;
	height: 4em;
	
}
.countdown_day{
	text-align:center;
	margin-left:0; 
	font-size: 1em;
	line-height: 0px;
	color:#666666;
	text-transform:uppercase;
	padding-top: 0;
}
/* Countdown Stop*/

div#entry3 {
	
	background-color: #1f1f1f;
	
	width: 47%;
	height: 8em;
	margin: -29.75% auto 2% auto;
	padding: .2% 1% 0 1%;
	float: right;
	font-family: Lato, Arial, sans-serif;
	font-size: 1.7em;
	font-weight: 200;
	color: #666666;
	text-align: left;
	overflow: hidden;
}

div#entry3 span {
	color: #FF9933;
}

div.button-icon  { /* Start  Social Links */ 
	width: 49%;
	float: right;
	margin-top: -4%;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 300;
	overflow: hidden;
	list-style-type: none;
	color: #FF9933;
	
}



#twitter a {
	width: 49%;
/*	height: em;
*/	padding: 2% 0 1% 0;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#twitter:hover a {
	background-color: #F1C40F;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

/*#twitter:active a{
	top: .1em;
}*/

#github a {
	width: 49%;
	/*height: 1.5em;*/
	padding: 2% 0 1% 0;
	margin-right: -1%;
	float: right;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#github:hover a {
	background-color: #E67E22;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}


#codeschool a {
	width: 49%;
	/*height: 2em;*/
	margin-top: 2%;
	padding: 2% 0 2% 0;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#codeschool:hover a {
	background-color: #F39C12;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

#linkedin a {
	width: 49%;
	/*height: 1.5em;*/
	margin-top: 2%;
	margin-right: -1%;
	padding: 2% 0 2% 0;
	float: right;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#linkedin:hover a {
	background-color: #D35400;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
} /* End Links */

div.work {
	width: 100%;
	margin-top: 10%;
}

img#katesnow {
	width: 49%;
	margin-right: 2%;
	float: left;
	overflow: hidden;
}

div.kate-images {
	height: 27em;
	overflow: hidden;
}

img#katesnow2{
	width: 23.5%;
	margin-right: 2%;
	float: left;
}

img#cosbysm{
	width: 23.5%;
	float: left;
/*	height: 21.2em;
*/	margin-right: 0;
}


div.kate-info {
	width: 92%;
	margin-top: 2%;
	float: right;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 1.4em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: left;
	padding: 0 4%;
	overflow: hidden;
}

footer {
	width: 100%;

}

div.head-shot {
	width: 100%;
	margin-top: 2%;
	float: left;
	background-color: #1F1F1F;
	padding-top: 2%;
	padding-bottom: 1.5%;
}

div.head-shot img {
	width: 15%;
	margin-left: 6%;
}

div.head-shot p {
	width: 50%;
	margin-top: 6%;
	margin-right: 6%;
	text-decoration: none;
	font-size: 1.5em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	color: #666666;
	float: right;

}

div.head-shot a {
	text-decoration: none;
	color: #FF9933;

}

div.head-shot span:hover {
	color: #D35400;
}
	
}


@media only screen and (min-width: 1100px) {
	div#entry3 {
	
	background-color: #1f1f1f;
	min-height: 6em;
	max-height: 7em;
	width: 47%;
	margin: -29.3% auto 2% auto;
	padding: 2% 1% 1% 1%;
	float: right;
	font-family: Lato, Arial, sans-serif;
	font-size: 2em;
	font-weight: 200;
	color: #666666;
	text-align: left;

}



}


/*///////////// Media Query 1200px //////////////*/
/* /////////////////////////////////////////// */

@media only screen and (min-width: 1200px){
	/*aside, article {
		width: 100%;
		float: left;
	}*/
	


	div.nav-image {
		width: 100%;
		float: left;
		padding: 0%;
		
	}

	article {
		width: 100%;
		float: left;
		margin-left: ;
		margin-bottom: 2%;
		margin-top: 0;
		padding: 0;
		font-size: 2em;
	}
	h3 {
		text-align: center;
		padding-top: 0;
	}

	article p {
		padding: 0 1em;
	}

	div.image-section1 {
	/*background-color: #333333;*/
	padding: 0;
	width: 49%;
/*	height: 33em;
*/	margin-top: 1%;
	/*margin-left: -75%;*/
	margin-bottom: 2%;
	float: left;

}


 img#image-1 {
	float: left;
	max-width: 48.5%;
	height: ;
	overflow: hidden;
	margin-bottom: 1%;
	
}

img#image-2 {
	float: right;
	max-width: 48.5%;
	/*height: ;*/
	overflow: hidden;

}


div.image-section2 {
	/*background-color: #333333;*/
	width: 49%;
	padding: 0; 
	margin-top: 0;
	float: right;

}


 img#image-3 {
	float: left;
	max-width: 48.5%;	
	margin-top: 0;
}

img#image-4 {
	float: right;
	max-width: 48.5%;
}

div.blog {
	width: 100%;
	float: left;
}

div.blog p {
	background-color: #1f1f1f;
	padding: 4%;
	width: 92%;
	margin: -.5% auto 2% auto;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	color: #666666;
	text-align: left;
}

div.blog-images {
	width: 49%;
}

img#image-5 {
	float: left;
	max-width: 48.50%;	
	margin-bottom: 4%;
}

img#image-6 {
	float: right;
	max-width: 48.50%;
	margin-bottom: 4%;
}



img {
	width: 100%;
}


/* Countdown Start */


div.container2 {
	width: 49%;
}

p.month {
	width: 96%;
	height: 1em;
	margin-top: 0%;
	margin-bottom: -1%;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 1.5em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 2%;
	overflow: hidden;
}


.countdown_section{ 
	background:#1f1f1f;
	width:25%;
	margin: 0;
	height: 3em;
	float: left; 
	text-align:center;
	padding-top: 6%; 

}
.countdown_amount{
	margin-left: 0em;
	color:#FF9933;
	font-size: 2.5em;
	font-weight:lighter;
	line-height:0px;
	text-align: left;
	height: 4em;
	
}
.countdown_day{
	text-align:center;
	margin-left:0; 
	font-size: 1em;
	line-height: 0px;
	color:#666666;
	text-transform:uppercase;
	padding-top: 0;
}
/* Countdown Stop*/

div#entry3 {
	
	background-color: #1f1f1f;
	/*min-height: 7.6em;*/

	width: 47%;
	margin: -29.3% auto 2% auto;
	padding: 2% 1% 1% 1%;
	float: right;
	font-family: Lato, Arial, sans-serif;
	font-size: 225%;
	font-weight: 200;
	color: #666666;
	text-align: left;

}

div#entry3 span {
	color: #FF9933;
}

div.button-icon  { /* Start  Social Links */ 
	width: 49%;
	float: right;
	margin-top: -3.65%;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 300;
	overflow: hidden;
	list-style-type: none;
	color: #FF9933;
	
}



#twitter a {
	width: 49%;
/*	height: em;
*/	padding: 2% 0 1% 0;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#twitter:hover a {
	background-color: #F1C40F;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

/*#twitter:active a{
	top: .1em;
}*/

#github a {
	width: 49%;
	/*height: 1.5em;*/
	padding: 2% 0 1% 0;
	margin-right: -1%;
	float: right;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#github:hover a {
	background-color: #E67E22;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}


#codeschool a {
	width: 49%;
	/*height: 2em;*/
	margin-top: 2%;
	padding: 2% 0 2% 0;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#codeschool:hover a {
	background-color: #F39C12;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

#linkedin a {
	width: 49%;
	/*height: 1.5em;*/
	margin-top: 2%;
	margin-right: -1%;
	padding: 2% 0 2% 0;
	float: right;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#linkedin:hover a {
	background-color: #D35400;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
} /* End Links */

div.work {
	width: 100%;
	margin-top: 9.5%;
}

img#katesnow {
	width: 49%;
	margin-right: 2%;
	float: left;
	overflow: hidden;
}

div.kate-images {
	height: 27em;
	overflow: hidden;
}

img#katesnow2{
	width: 23.5%;
	margin-right: 2%;
	float: left;
}

img#cosbysm{
	width: 23.5%;
	float: left;
/*	height: 21.2em;
*/	margin-right: 0;
}


div.kate-info {
	width: 92%;
	margin-top: 2%;
	float: right;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 1.75em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: left;
	padding: 0 4%;
	overflow: hidden;
}

footer {
	width: 100%;

}

div.head-shot {
	width: 100%;
	margin-top: 2%;
	float: left;
	background-color: #1F1F1F;
	padding-top: 2%;
	padding-bottom: 1.5%;
}

div.head-shot img {
	width: 10%;
	margin-left: 6%;
}

div.head-shot p {
	width: 50%;
	margin-top: 4%;
	margin-right: 10%;
	text-decoration: none;
	font-size: 1.5em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	color: #666666;
	float: right;

}

div.head-shot a {
	text-decoration: none;
	color: #FF9933;

}

div.head-shot span:hover {
	color: #D35400;
}
	
}

/*///////////// Media Query 1400px //////////////*/
/* /////////////////////////////////////////// */

@media only screen and (min-width: 1400px){
	/*aside, article {
		width: 100%;
		float: left;
	}*/
	


	div.nav-image {
		width: 100%;
		float: left;
		padding: 0%;
		
	}

	article {
		width: 100%;
		float: left;
		margin-left: ;
		margin-bottom: 2%;
		margin-top: 0;
		padding: 0;
		font-size: 2em;
	}
	h3 {
		text-align: center;
		padding-top: 0;
	}

	article p {
		padding: 0 1em;
	}

	div.image-section1 {
	/*background-color: #333333;*/
	padding: 0;
	width: 49%;
/*	height: 33em;
*/	margin-top: 1%;
	/*margin-left: -75%;*/
	margin-bottom: 2%;
	float: left;

}


 img#image-1 {
	float: left;
	max-width: 48.5%;
	height: ;
	overflow: hidden;
	margin-bottom: 1%;
	
}

img#image-2 {
	float: right;
	max-width: 48.5%;
	/*height: ;*/
	overflow: hidden;

}


div.image-section2 {
	/*background-color: #333333;*/
	width: 49%;
	padding: 0; 
	margin-top: 0;
	float: right;

}


 img#image-3 {
	float: left;
	max-width: 48.5%;	
	margin-top: 0;
}

img#image-4 {
	float: right;
	max-width: 48.5%;
}

div.blog {
	width: 100%;
	float: left;
}

div.blog p {
	background-color: #1f1f1f;
	padding: 4%;
	width: 92%;
	margin: -.5% auto 2% auto;
	float: left;
	font-family: Lato, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	color: #666666;
	text-align: left;
}

div.blog-images {
	width: 49%;
}

img#image-5 {
	float: left;
	max-width: 48.50%;	
	margin-bottom: 4%;
}

img#image-6 {
	float: right;
	max-width: 48.50%;
	margin-bottom: 4%;
}



img {
	width: 100%;
}


/* Countdown Start */


div.container2 {
	width: 49%;
}

p.month {
	width: 96%;
	height: 1em;
	margin-top: 0%;
	margin-bottom: -1%;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 1.5em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 2%;
	overflow: hidden;
}


.countdown_section{ 
	background:#1f1f1f;
	width:25%;
	margin: 0;
	height: 3em;
	float: left; 
	text-align:center;
	padding-top: 6%; 

}
.countdown_amount{
	margin-left: 0em;
	color:#FF9933;
	font-size: 2.5em;
	font-weight:lighter;
	line-height:0px;
	text-align: left;
	height: 4em;
	
}
.countdown_day{
	text-align:center;
	margin-left:0; 
	font-size: 1em;
	line-height: 0px;
	color:#666666;
	text-transform:uppercase;
	padding-top: 0;
}
/* Countdown Stop*/

div#entry3 {
	
	background-color: #1f1f1f;
	min-height: 8.8em;
	width: 47%;
	margin: -29% auto 2% auto;
	padding: 1.4% 1% 0 1%;
	float: right;
	font-family: Lato, Arial, sans-serif;
	font-size: 2.1em;
	font-weight: 200;
	color: #666666;
	text-align: left;

}

div#entry3 span {
	color: #FF9933;
}

div.button-icon  { /* Start  Social Links */ 
	width: 49%;
	float: right;
	margin-top: -3.3%;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 300;
	overflow: hidden;
	list-style-type: none;
	color: #FF9933;
	
}



#twitter a {
	width: 49%;
/*	height: em;
*/	padding: 2% 0 1.5% 0;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#twitter:hover a {
	background-color: #F1C40F;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

/*#twitter:active a{
	top: .1em;
}*/

#github a {
	width: 49%;
	/*height: 1.5em;*/
	padding: 2% 0 1.5% 0;
	margin-right: -1%;
	float: right;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#github:hover a {
	background-color: #E67E22;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}


#codeschool a {
	width: 49%;
	/*height: 2em;*/
	margin-top: 2%;
	padding: 2% 0 1.5% 0;
	float: left;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#codeschool:hover a {
	background-color: #F39C12;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

#linkedin a {
	width: 49%;
	/*height: 1.5em;*/
	margin-top: 2%;
	margin-right: -1%;
	padding: 2% 0 1.5% 0;
	float: right;
	background-color: #1F1F1F;
	color: #FF9933;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	
}

#linkedin:hover a {
	background-color: #D35400;
	color: #1F1F1F;
	transition: background-color 1s ease-in-out;
	transition: color 1s ease-in-out;
} /* End Links */

div.work {
	width: 100%;
	margin-top: 8.5%;
}

img#katesnow {
	width: 49%;
	margin-right: 2%;
	float: left;
	overflow: hidden;
}

div.kate-images {
	height: 37em;
	overflow: hidden;
}

img#katesnow2{
	width: 23.5%;
	margin-right: 2%;
	float: left;
}

img#cosbysm{
	width: 23.5%;
	float: left;
/*	height: 21.2em;
*/	margin-right: 0;
}


div.kate-info {
	width: 92%;
	margin-top: 1.5%;
	float: right;
	background-color: #1F1F1F;
	color: #666666;
	font-size: 1.75em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: left;
	padding: 0 4%;
	overflow: hidden;
}

footer {
	width: 100%;

}

div.head-shot {
	width: 100%;
	margin-top: 1.5%;
	float: left;
	background-color: #1F1F1F;
	padding-top: 2%;
	padding-bottom: 1.5%;
}

div.head-shot img {
	width: 15%;
	margin-top: 0;
	margin-left: 6%;
}

div.head-shot p {
	width: 50%;
	margin-top: 4%;
	margin-right: 10%;
	text-decoration: none;
	font-size: 1.5em;	
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	color: #666666;
	float: right;

}

div.head-shot a {
	text-decoration: none;
	color: #FF9933;

}

div.head-shot span:hover {
	color: #D35400;
}
	
}














