/* 400px */
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: #fff;
}

.navbar {
	width: 100%;
	height: 2em;
	margin-top: 0;
	top: 0;
	position: fixed;
	z-index: 999;
	background-color: rgba(204, 204, 204, .4);
	line-height: 1.5;
	overflow: hidden;
	font-family: Lato, Arial;
	font-weight: 200;
	letter-spacing: .33em;
	font-size: 1.5em;
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
}

.navbar li, .navbar a {
	display: inline-block;
}

.navbar li {
	list-style-type: none;
}

.navbar > li {
	margin-left: .1em;
}

.navbar > li:first-child {
	margin-left: 38%;
}

.navbar a {
	padding: .25em;
	text-decoration: none;
	height: 1.5em;
	
}

.navbar a:hover {
	background-color: rgba(204, 204, 204, 0.6);
	
} /* end of navbar */

/* ////// Start of Banner //////*/
div#banner { 
	width: 100%;
	height: 30em;
	margin-top: -30em;
	position: fixed;
	background: url(images/forestpark.jpg) no-repeat;
	overflow: visible;
}

div.first-banner  { 
	width: 8em;
	margin-top: 0em;
	margin-left: 2em;
	top: 5em;
	position: relative;
	font-size: 2em;
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	list-style-type: none;
	text-decoration: none;
	
}

div#first-banner {
	position: relative;
	color: rgba(81, 90, 84, 1);
	padding-left: .2em;
	z-index: 9;
}

div#first-banner span {
	color: rgba(80, 41, 22, 1)
	
}

div.second-banner  { 
	top: 5.25em;
	margin-left: 1.66em;
	padding-left: .33em;
	width: 11.5em;
	position: relative;
	font-size: 2em;
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	list-style-type: none;
	text-decoration: none;
}

div#second-banner {
	position: relative;
	padding-left: .2em;
	color: rgba(81, 90, 84, 1);
	z-index: 9;
}

div#second-banner span {
	color: rgba(80, 41, 22, 1);
}

div.third-banner  { 
	top: 5.5em;
	width: 11.5em;
	position: relative;
	margin-left: 1.66em;
	padding-left: .33em;
	font-size: 2em;
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	list-style-type: none;
	text-decoration: none;
}

div#third-banner {
	position: relative;
	padding-left: .2em;
	color: rgba(81, 90, 84, 1);
	z-index: 9;
}

div#third-banner span {
	color: rgba(80, 41, 22, 1);
}
/*////// End of Banner //////*/

/*////// Start of Info Space //////*/
.container { 
	width: 100%;
	height: 100%;
	margin-top: 30em;
	background-color: rgba(36, 39, 41, 1);
	overflow: hidden;
	position: relative;
}

div#statement1 {
	width: 100%;
	height: 26.5em;
	margin-top: -1.6em;
	background-color: #fff;
	z-index: 10;
}

div#statement1 p { 
	width: 30em;
	margin-top: -9.5em;
	margin-left: 25%;
	padding: 2em;
	font-size: 1.5em;
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
	color: rgba(81, 90, 84, 1);
}

div#statement1 img { 
	width: 9em;
	margin-top: 9em;
	margin-left: 10%;
	border: solid 6px #ccc;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

div#statement1 a {
	color: rgba(171, 189, 82, 1);
	text-decoration: none;
}

div#statement1 a:hover {
	color: rgba(171, 189, 82, .7);
}


div#pictures {
	width: 100%;
	height: 26.5em;
	margin-top: -1.5em;
	background-color: #efefef;
}

div#pictures h2 { 
	font-style: Lato, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	text-align: left;
	padding-top: 1em;
	padding-left: 3em;
	color: rgba(171, 189, 82, 1);
}

.grid {
    padding-top: 1em;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

/*////// Image Left //////*/ 
.grid li#sunflower {
    display: inline-block;
    width: 15.5em;
    margin-left: 0em;
    padding: 1.5em;
    text-align: left;
    position: relative;
}

/*////// Middle Image //////*/
.grid li#kone {
    display: inline-block;
    width: 15.5em;
    padding: 1em 1em 1.5em 1em;
    text-align: left;
    position: relative;

}
 /*////// End Middle Image //////*/

/*////// Right Image //////*/
.grid li#family {
    display: inline-block;
    width: 15.5em;
    margin-left: 0em;
    padding: 1.5em;
    text-align: left;
    position: relative;
}/*////// End Right Image //////*/

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;

}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #ccc;
    color: rgba(81, 90, 84, .7);
}

.grid figcaption h3 {
    margin: 0;
    padding-bottom: 2px;
    font-style: Lato, Arial, sans-serif;
    font-weight: 100;
	color: #fff;
}
 
 
.grid figcaption a {
    margin-top: 10px;
    padding: 2px 5px;
    border-radius: 2px;
    display: inline-block;
    background-color: rgba(171, 189, 82, 1);
	color: #fff;
    text-decoration:none;
}

.grid figcaption a:hover {
	background-color: #fff;
	color: rgba(171, 189, 82, 1) ;
	-moz-transition:width 2s, height 2s, background-color 2s, -moz-transform 2s;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    -o-transition:width 2s, height 2s, background-color 2s, -o-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.cs-style figure img {
	margin-left: -2.5em;
    -webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    z-index: 10;
}

.cs-style figure:hover img,
.cs-style figure.cs-style-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
    transform: translateY(-90px);
}

.cs-style figcaption {
	position: absolute;
    height: 90px;
    width: 84%;
    top: auto;
    bottom: 0;
    opacity: 0;
    margin-left: -2.5em;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.6s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.6s, opacity 0.1s 0.3s;
	transition: transform 0.6s, opacity 0.1s 0.3s;
	
	z-index: 99;
}

.cs-style figure:hover figcaption,
.cs-style figure.cs-hover figcaption {
	opacity: 1;
	margin-left: -2.5em;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;

}

.cs-style figcaption a {
	position: absolute;
	bottom: 20px;
	right: 1em;
} 
/*//////  End of Pictures //////*/

/*////// Start of Philosophy //////*/
div#philosophy {
	width: 100%;
	height: 26.5em;
	margin-top: -2.5em;
	background-color: rgba(171, 189, 82, 1);
}

div#philosophy p { 
	width: 75%;
	padding-top: 5em;
	padding-left: 4.5em;
	font-size: 2em;
	font-style: Lato, Arial, sans-serif;
	font-weight: 100;
	color: rgba(81, 90, 84, .7);
	text-align: center;
}

div#philosophy span { 
	color: rgba(227, 114, 75, .8);
}

footer { 
	width: 100%;
	height: 10em;
	margin-top: 0em;
	background-color: rgba(36, 39, 41, 1);
	margin-top: 2em;
}

footer a { 
	margin-left: 48%;
}

footer p { 
	font-size: 1.5em;
	font-style: Lato, Arial, sans-serif;
	font-weight: 100;
	color: rgba(171, 189, 82, .4);
	text-align: center;
}

footer p#creator { 
	padding-bottom: 0em;
}








/*////// Media Queries //////*/
@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}















